.food-card-container {
  background: hsl(38, 44%, 96%);
  width: 100vw;
  height: 690px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.food-card-section {
  width: 532px;
}
